body{
    background-color: #E8D7F1; 
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size:22px;
}
h1{
    color: #D3BCCC;
    
    border-radius: 15px;
    font-size: 22px;
    border: 10px bold #080808
    p
}
h2{
    color: #3a6850;
    border-radius: 15px;
    font-size: 22px;
    border: 10px bold #201f20
}

h4{
    color: #3f498e;
    border-radius: 15px;
    font-size: 22px;
    border: 10px bold #060606
    
}
.paragraph{
    color: grey;
    text-align: center;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ol{
    list-style: square;
    font-size: 22px;
    color: rgb(133, 130, 130);
}
ul{
    list-style: georgian outside url('/non-existent.svg');
    font-size: 15px;
    color:#201f20
    
    
}
img{border-radius: 50%;

}

footer{
    background-color: #D3BCCC;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
padding: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: grey;
}

