body{
    background-color: #E8D7F1; 
}
h1{
    color: #D3BCCC;
    border-radius: 15px;
    font-size: 22px;
    border: 10px bold #D3BCCC
    
}
h2{
    color: #D3BCCC;
    border-radius: 15px;
    font-size: 22px;
    border: 10px bold #D3BCCC
}

h4{
    color: #D3BCCC;
    border-radius: 15px;
    font-size: 22px;
    border: 10px bold #D3BCCC
}
.paragraph{
    color: #A167A5;
    text-align: center;
    font-size: 22px;
}
ol{
    list-style: square;
}
ul{
    list-style: georgian outside url('/non-existent.svg');
}
img{border-radius: 50%;

}